*{
    box-sizing: border-box;
}

body{
    text-align: center;
}

.loader{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
    display: none;
    background-color: transparent;
    border: 5px solid grey;
    border-top: 5px solid green;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

img{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

/* p{
    display: inline-block;
} */

button{
    height: 40px;
    margin: 10px;
    cursor: pointer;
    outline: none;
    background-color: darkgreen;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff
}

button:hover{
    background-color:forestgreen;
}

#punchlinebtn{
    display: none;
}

.reset{
    display: none;
}
/* .visible{
    display: inline-block;
} */